<header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-5">The jpeg network is a humor oriented content sharing platform. Sign up today!</h1>
              <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">Start Now for Free!</a>
            </div>
          </div>
          <div class="col-lg-5 my-auto">
          
            <img src = "https://thumbs.dreamstime.com/b/young-man-smiling-looking-mobile-phone-portrait-45997158.jpg" class = "img-fluid img-thumbnail">

          </div>
        </div>
      </div>
    </header>