<div class="users index page-content">
 <div class="container">
  <div class = "card">
  

<div class="card-body content-card">
<h2 class = "card-title">Groups</h2>
  <%= link_to("Make a group!", new_group_path, :class => 'action new') %>

  <table class="table table-striped" summary="User list">
    <tr class="header">
      <th>title</th>
    </tr>

    <% @groups.each do |group| %>
      
    <tr>
      <td><div class = "list-thumb"><%= image_tag group.avatar.url(:thumb) %></div> <%= group.name %>
      <%= link_to("View Group", group_path(group), :class => 'action show') %>
      </td>  
      
      
    </tr>
    
    <% end %>
  </table>
  </div>
  </div>
  </div>
</div>