<div class="users index page-content">
 <div class="container">
  <div class = "card">
  

<div class="card-body content-card">
<h2 class = "card-title">Posts</h2>
  <%= link_to("Make a post!", new_post_path, :class => 'action new') %>

  <table class="table table-striped" summary="User list">
    <tr class="header">
      <th>title</th>
    </tr>

    <% @posts.each do |post| %>
      
    <tr>
      <td><%= post.title %><div class = "list-thumb"><%= image_tag post.avatar.url(:thumb) %></div>
      <%= link_to("View Post", post_path(post), :class => 'action show') %> </td>

      
    </tr>
    <% end %>
  </table>
  </div>
  </div>
  </div>
</div>